# Cache directories

app/cache/*
!app/cache/.gitkeep

app/logs/*
!app/logs/.gitkeep

# Chamilo configuration
/app/config/parameters.yml
/app/config/add_course.conf.php
/app/config/auth.conf.php
/app/config/course_info.conf.php
/app/config/events.conf.php
/app/config/mail.conf.php
/app/config/profile.conf.php
/app/config/configuration.php

# Courses
app/courses/*
!app/courses/proxy.php

# Home
app/home/*

# Upload content
app/upload/*

.php_cs.cache

# Logs and databases #
*.log

# IDE settings
.idea
.idea/*
.idea/dictionaries/*
.idea/cssxfire.xml

*.orig
nbproject/*

# Plugins config files
plugin/bbb/config.vm.php

# Cron temp files
main/cron/incoming/*
plugin/vchamilo/templates/*

# Stuff updated through composer - Remove just before release
#vendor
#web/assets/*
node_modules
yarn.lock

.phpunit.result.cache
#composer.lock
installer_chamilo_de_zero.sh
installer_chamilo_de_zero_final.sh
installer_chamilo_de_zero_final.txt
main/admin/exporter_ldap.php
main/admin/importer_ldap.php
main/admin/install_php72_and_upgrade_chamilo.sh
main/admin/ldapContent.json
main/admin/publish_new_release.sh
main/admin/upgrade_to_latest_release.sh
procedure.sh
procedure.txt
#web/
